@charset "utf-8";
@import url('style.css');

/* generics -------------------------------------------------------------------------------------------------------- */

a{
	color: #337ab7;
	text-decoration: none;
}

a:hover, a:focus{
	color: #23527c;
	text-decoration: underline;
}

body{
	background: #2b3e50;
	color: #2b3e50;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #333;
}

/* specific site elements ------------------------------------------------------------------------------------------ */

.site-title, .site-subtitle {
	color: #fff;
}

.site-nav.navbar-default {
	background: #4e5d6c;
	border-color: transparent;
	box-shadow: none;
}

.site-nav.navbar-default .navbar-brand,
.site-nav.navbar-default .navbar-text,
.site-nav.navbar-default .navbar-nav > li > a {
	color: #ebebeb;
}

.site-nav.navbar-default .navbar-brand:hover,
.site-nav.navbar-default .navbar-brand:focus {
	background-color: transparent;
	color: #ebebeb;
}

.site-nav.navbar-default .navbar-nav > li > a:hover,
.site-nav.navbar-default .navbar-nav > li > a:focus,
.site-nav.navbar-default .navbar-nav > li.active > a,
.site-nav.navbar-default .navbar-nav > li.active > a:hover,
.site-nav.navbar-default .navbar-nav > li.active > a:focus,
.site-nav.navbar-default .navbar-nav > .open > a,
.site-nav.navbar-default .navbar-nav > .open > a:hover,
.site-nav.navbar-default .navbar-nav > .open > a:focus {
	background-color: #485563;
	color: #ebebeb;
}

.site-nav.navbar-default .navbar-toggle {
	border-color: transparent;
}

.site-nav.navbar-default .navbar-toggle:hover,
.site-nav.navbar-default .navbar-toggle:focus {
	background-color: #485563;
}

.site-nav.navbar-default .navbar-toggle .icon-bar{
	background-color: #ebebeb;
}

.site-nav.navbar-default .navbar-collapse,
.site-nav.navbar-default .navbar-form {
	border-color: transparent;
}

.site-billboard #slider{
	background-color: transparent;
	box-shadow: 0 2px 5px #333;
}

.site-content{
	background: #fff;
	border-top: 30px solid #4e5d6c;
	border-bottom: 30px solid #4e5d6c;
	margin: 1.25em auto 4em;
	min-height: 600px;
	padding: 0 3em;
}

.site-sub-footer{
	background: #1d2935;
}

.site-sub-footer a:hover{
	color: #fff;
	text-decoration: underline;
}

@media only screen and (max-width: 768px){
	.site-content{
		padding: 0 15px;
	}
}