@charset "utf-8";

/* generics -------------------------------------------------------------------------------------------------------- */

body{
	background: #fff url('../images/ucf.png') repeat-x 0 20px;
	background-size: 100% 139px;
}

caption{
	font-size: 1.5em;
}

/* specific site elements ------------------------------------------------------------------------------------------ */

.site-title{
	font-size: 3.5em;
	padding: 0.5em 0 0.2em;
}

.site-title a, .site-title a:hover{
	color: inherit;
	text-decoration: none;
}

.site-title small{
	font-size: 0.5em;
	color: #777;
}

.site-nav.navbar-default{
	background-color: #fdf0b6;
	border: 0;
	box-shadow: 0 2px 4px #ccc;
	margin-bottom: 2em;
}

.site-nav.navbar-default .navbar-nav > li > a,
.site-nav.navbar-default .navbar-text,
.site-nav.navbar-default .navbar-link{
	color: #000;
}

.site-nav.navbar-default .navbar-nav > li:hover{
	background-color: #fff;
}

.site-nav .translate-button{
	margin-right: 0;
}

.site-billboard #slider{
	box-shadow: 0 2px 5px #666;
	border-radius: 10px;
}

.site-content{
	min-height: 425px;
}

.site-content-end{
	margin: 3em auto 1em;
}

.site-nav-repeated{
	border: 0;
}

.site-nav-repeated .icons{
	margin-right: 0.5em;
}

.site-nav-repeated .icons img{
	margin-left: 4px;
	border: 1px solid #ccc;
}

footer.site-footer-container{
	font-size: 95%;
}

.site-footer{
	background: #222 url('../images/footer-bg.png') repeat-x;
	padding: 1em 0;
}

.site-footer h2{
	color: #eee;
}

.site-footer p{
	color: #ccc;
}

.site-footer ul{
	list-style: none;
	padding: 0;
}

.site-footer a{
	text-decoration: none;
	color: #ccc;
}

.site-footer a:hover{
	color: #eee;
}

.site-sub-footer{
	background: #161616 url('../images/sub-footer-bg.png') repeat-x;
	background-position: 0 -8px;
	padding: 1.5em 0;
	color: #aaa;
}

.site-sub-footer a{
	text-decoration: none;
	color: #ccc;
}

/* components ------------------------------------------------------------------------------------------------------ */

/* staff listing */

.staff:after{
	content: '';
	display: block;
	clear: both;
	height: 2em;
}

.staff img{
	width: 125px;
	float: left;
	margin-right: 10px;
	border-radius: 50%;
	box-shadow: 0 2px 5px #ccc;
	border: 3px solid #fff;
}

.staff:hover img{
	border-width: 2px;
}

.staff .staff-content{
	margin-left: 150px;
}

.staff-role{
	border-bottom: 1px dotted #888;
	clear: both;
	font-size: 2.5em;
	margin-bottom: 0.666em;
	padding-bottom: 0.25em;
}

.staff .staff-name{
	font-size: 2em;
}

.staff .staff-title{
	font-size: 1.75em;
}

.staff .staff-email,
.staff .staff-phone{
	font-size: 1.333em;
}

.staff .staff-details{
	margin-top: 1em;
	overflow: hidden;
}

.staff .staff-more{
	font-size: 0.75em;
}

/* news article listing */

.news:after{
	content: '';
	display: block;
	clear: both;
}

.news img{
	width: 100px;
	float: left;
	margin-right: 10px;
	border-radius: 10px;
	box-shadow: 0 2px 3px #ccc;
}

.news-content{
	margin-left: 120px;
}

.news .news-title{
	font-size: 2em;
}

.news .news-title a{
	text-decoration: none;
	padding-left: 15px;
	background: url('../images/3bul.png') no-repeat center left;
}

.news .news-title a:hover{

}

.news .news-strapline{
	font-size: 1.5em;
}

.news .datestamp {
	margin: 0;
	font-size: 0.9em;
	color: #666;
}

.news .news-summary{
	padding: 1.25em 0;
}

/* ucf calendar widget */

.ucf-events .date {
	background-color: #fdf0b6;
	float: left;
	width: 50px;
	padding: 5px 0;
	clear: both;
}

.ucf-events > li:nth-child(even){
	background: #fcfcfc;
}

.ucf-events > li > .title{
	font-size: 1.2em;
}

.ucf-events > li > .date > span {
	display: block;
	text-align: center;
	font-size: 1.2em;
}

.ucf-events > li > a{
	font-size: .8em;
	display: block;
	margin-left: 65px;
	margin-top: 3px;
}

.ucf-events .end{
	clear: both;
}

/* home buttons */

.home > li a	{
	background:#fdf0b6;
	font-weight: bold;
	color:black;
	box-shadow: 0 2px 4px #ccc;
	margin-bottom:10px;
}

.home > li a:hover	{
	background:#fff;
}

/* generic classes ------------------------------------------------------------------------------------------------- */

form .jumbotron{
	background-color: #fffbec;
	border: 1px solid #faebcc;
	padding: 2em;
}

label.error{
	color: #f00;
	font-style: italic;
}

.panel-link{
	color: #666;
}

.panel-link:hover{
	color: #333;
}

/* responsive tweaks ----------------------------------------------------------------------------------------------- */

@media (max-width: 992px){ /* medium to large breakpoint */
	.site-title small{
		display: block;
	}

	.site-nav.navbar-default .navbar-text.navbar-right.translate-button{
		float: none!important;
	}
}

@media only screen and (max-width: 500px){ /* arbitrary breakpoint */
  .staff img, .news img{
    width: auto;
    margin: 1em auto;
    float: none;
  }

  .staff .staff-content, .news .news-content{
    margin: 0;
  }
}